.App {
  width: 100%;
  height: 100%;
}

.body-container {
  height: 100%;
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px !important;
}

.form-container {
  width: 80%;
  min-width: 200px;
  margin: auto;
}

.sidebar-button i {
  margin: 0 !important;
}

.post-item {
  width: 90%;
  max-width: 767px;
  margin-bottom: 20px;
}

.post-image {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(120, 121, 120, 0.1);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.post-image img {
  width: fit-content;
}

.post-add {
  width: 90%;
  max-width: 767px;
  margin-bottom: 20px;
}

.post-add-buttons {
  justify-content: space-between;
}

.post-add-buttons .field {
  padding: 0 !important;
  margin: 0.5rem !important;
}

.post-column {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 400px) {
  .form-container {
    width: 50%;
  }
}
